<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Child Table</h3>
  </div>
  <div class="panel-body">
    <div>
      Get User from another component: {{ getUserNameFromAnother }} - {{ getPhoneFromAnother }}
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>Name</th>
          <th>Age 
            <button type="button" class="btn btn-danger" (click)="onHandleSort(1)">Tang</button>
            <button type="button" class="btn btn-success" (click)="onHandleSort(-1)">Giam</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="idFilter">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="nameFilter">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="ageFilter">
          </td>
        </tr>
        <tr *ngFor="let eachUser of user | filter :idFilter :nameFilter :ageFilter | sort: sortValue">
          <td>{{ eachUser.id }}</td>
          <td>{{ eachUser.name }}</td>
          <td>{{ eachUser.age }}</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
