
<h1 [style.margin.px]="30">{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        Get User Name from children: {{ userName }} - {{ phone }}
        <app-user-list
          [married]="isMarried"
          (listenFromChild)="getDataFromChild($event)"
          (phone)="getNumberPhone($event)"
        ></app-user-list>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <app-user-table
          [user]="users"
          [userName]="userName"
          [phone]="phone"
        ></app-user-table>
      </div>
    </div>
  </div>
</div>
