
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">User List - child component</h3>
    </div>
    <div class="panel-body">
      TTHN: {{ getMarried ? 'Da ket hon' : 'Chua ket hon' }}
    </div>
</div>


<form action="" method="POST" role="form">
  <legend>Send data to Parent</legend>

  <div class="form-group">
    <label for="">UserName</label>
    <input type="text" class="form-control" [(ngModel)]='listenFromChild' [ngModelOptions]="{standalone: true}">
    <label for="">Phone:</label>
    <input type="number" class="form-control" [(ngModel)]='phone' [ngModelOptions]="{standalone: true}">
  </div>
  <button type="button" class="btn btn-primary" (click)="onSend()">Send</button>
</form>
